<div>
    <h3>Registration Form</h3>
    <hr />
    <form [formGroup] = "userForm" (ngSubmit) = "store()">
        <label>
            Id <input type = "number" formControlName = "id">
        </label>
        <br />
        <label>
            Name <input type = "text" formControlName = "name">
        </label>
        <br />
        <label>
            Phone <input type = "text" formControlName = "phone">
        </label>
        <br />
        <label>
            dob <input type = "date" formControlName = "dob">
        </label>
        <br />
        <input type = "submit" value = "Register">
    </form>
    <a routerLink = "/login">Login</a>
</div>
